body {
  font-family: 'Righteous', cursive;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  min-width: 280px;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  background-color: white;
}

.card:hover {
  background-color: #f8f9f9;
}

.title {
  color:  #0E6103;
  font-size: 18px;
}

h1 {
  margin: 0em;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:  #0E6103;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 80%;
  align-items: center!important;
  margin-left: 10%;
}

.members_style {
  background-color:  #f5f5f5
}

.profiles {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 400px) {
  .flex {
    width: 100%;
    margin-left: auto;
  }
}