html{
	height: 100%;
    /*background-image: url(img/logo/logo-big.png);*/
    /**font-family: 'Roboto', sans-serif;*/
  background-color: black;
}
body {
    margin: 0em auto;
    height: 100%;
    /**no se admite seleccionar para copiar*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    overflow-x: hidden;
}
/**Animated Bar**/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  color: #44DAD2;/*green;*/
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px !important;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #44DAD2;
}

.logo a:hover {
  color: #44DAD3;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  justify-items: right;
  align-items: center;
  width: 50%; 
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none!important;
  letter-spacing: 2px;
  font-size: 15px;
}

/**Line effect**/
.nav-links li:before {
  content: '';
  width: 0px;
  position: absolute;
  border-bottom: 2px solid white;
  transition: 0.5s all;
  top: 36px;
}

.nav-links a:hover {
  color: #44DAD2; /*green;*/
}

.nav-links li:hover:before {
  top: 35px;
  width: 80px;
  background-color: green;
  align-items: left;
}

.burger {
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white!important;
  margin: 5px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1024px){
  .nav-links {
    width: 60%; 
  }
}
@media screen and (max-width: 768px){
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav_active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to {
    opacity: 100;
    transform: translateX(0px);
  }
}

.toggle .lin1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .lin2 {
  opacity: 0;
}

.toggle .lin3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/**---------------GENERAL STYLE-------------**/
.card_style {
  background-color: #44DAD2!important;
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

img { 
    display: inline; 
    margin: 0 auto; 
    margin-top: 0.25em;
    height: 100%; 
    width: auto; 
} 
.barra {
  background-color: black;
  position: fixed;
}

.barOnTop {
  font-weight: bold;
  transition: transform 0.5s ease-out;
}

.barra_icon_i {
  margin-top: -2px!important;
  height: 40px!important;
  width: 40px!important;
  margin-right: 10px!important;
}

.barra_icon_f {
  margin-top: -2px!important;
  height: 40px!important;
  width: 50px!important;
  margin-right: 5px!important;
}

.dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
  color: #44DAD2!important;
  background: black!important;
}

.dropdown-menu{
  background-color: black!important; 
}

.header_color {
  background-color: rgba(255,255,255, 0)!important;
  position: fixed;
}

#navbarf {
  position: fixed;
  width: 100vw;
}

.navbar-toggler-icon {
  color: white!important;
}

.nav-link {
  color: white!important;
  font-size: 18px;
  /*font-family: wattmobile_1;*/
  font-family: 'Roboto', regular;
  margin: 0;
  font-weight: bold;
}

.nav-link:hover {
  color: #0E6103!important;
}

.description_style {
  margin-left: 1.5em !important;
  font-size: 2em;
  font-weight: bold;
}

.title_style {
    font-size: 4em;
    font-family: 'Roboto', regular;
    /*font-family: wattmobile_1;*/
    font-weight: bold;
    color: white!important;
    margin:0.5em;
}

.subtitle_style {
    font-size: 2em;
    /*font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto', regular;
    font-weight: bold;
    color: white;
}

.div_rounded {
    -webkit-border-radius: 5em;  /* Safari  */
    -moz-border-radius: 5em;     /* Firefox */
}

.image-cropper { 
    width: 100%; 
    height: 100%;
    margin-top: 0.25em; 
    margin-bottom: 0.5em;
    position: relative; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.image_dimensions {
  width: 3em;
  height: 3em;
}

/**-------------GENERAL STYLE END----------**/

/**---------------callout--------------------**/
.callout {
  font-family: 'Righteous', cursive;
  position: fixed;
  bottom: 35px;
  right: 40px;
  margin-left: 20px;
  max-width: 350px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #0E6103;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: white;
  color: black
  font-weight: bold;
  align-content: justify;
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}

/**-------------------scroll bar--------------**/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-moz-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-moz-scrollbar-thumb:hover {
  background: #555; 
}

/**--------------Scroll bar end--------------**/

/**-----------HEADER-------------**/
.social_net_style {
  width: 2.8em;
  height: 2.8em;
  margin-right: 1em;
}
/**---------HEADER END-------**/

/**------------HOME----------------**/
@font-face {
  font-family: wattmobile_1;
  src:url("fonts/wattmobile_1.ttf");
}

.wattmobile_font {
  font-family: wattmobile_1;
}

.title_main_style {
    position: relative;
    overflow: hidden;
    font-size: 10em;
    /*font-weight: bold;*/
    text-align: center;
    /*font-family: 'Righteous', cursive;*/
    /**animation**/
    font-family: wattmobile_1!important;
    font-weight: bold;
    color: #44DAD2;
    -webkit-animation-name: title_color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    animation-name: title_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /**top: 15vh; navidad**/
   top: 30vh; /*original*/
}
/**-----------HOME END-------------**/

/**-----------TRAILER-------------**/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**---------TRAILER END-----------**/

/**---------ABOUT US--------------**/
#about {
  /*background-color:  #f5f5f5;*/
  background-color: #041B1B;/*black!important;*/
}

.group_about_style {
    background-color: rgba(255,255,255, 0.8);/**0,181,55*/
    margin-top: 0.7em;
    width:auto;
    height: 100%;
    align-items: center;
}

.group_about_style:hover {
    /*background-color: rgba(0,181,55, 1);*/
    background-color: #0AC1B7;
}
  
.group_style {
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 0.25em;
}
.div_group_style {
  background-color: #44DAD2;
}

.about_us_style_description {
    /*background-color: #f5f5f5;/*#dddddd*/
    background-color: #041B1B!important;
    color: while;
}
/**---------ABOUT US END----------**/

/**---------CONTACT----------**/
#contact {
    /*background-color: white;*/
    background-color: black!important;
    /*width:auto;
    height: auto;*/
    display: inline-block;
    margin: 0,auto; 
}

.contact_style_text {
  font-size: 2em;
  color: white;
}

.contact_logo {
    display: block;
    height: 90%;
    width: 80%;
}

.contact_description_style {
    margin: 0.5em;
    vertical-align: middle;
    align-items: left;
    font-size: 3em;
} 

/**---------CONTACT END----------**/

/**---------SPONSORS-------------**/
#sponsors{
    align-content: center;
    vertical-align: middle; 
    height: 100%;
    /*position: relative;*/
    margin:0;
    /*background: url(img/sponsors/testimonial-bg.jpg)no-repeat center center fixed;*/
    background-color: #041B1B;/*black;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:auto;
    height: auto;
}

.sponsors_img {
  position:relative !important;
  width:40% !important; 
  height:40% !important;
}

/**---------SPONSORS END---------**/

/**----------GALLERY-------------**/
/**https://blackboxanalog.com/wp-content/uploads/2014/10/black-floral-texture-pattern-design-wallpaper-background.jpg*/

.gallery_button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 30px;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, #44DAD2,#C803CB,#44DAD2,#0BAA10);
  background-size: 500%;
  border-radius: 50px;
}

.gallery_button:hover {
  animation: button_animation 8s linear infinite;
}

@keyframes button_animation {
  0%{
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.gallery_button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #0BAA10,#C803CB,#ffeb3b,#0BAA10);
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}

.gallery_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: button_animation 8s linear infinite;
}

a {
  text-decoration: none!important;
}

#gallery {
  background-color: black;
  background: url(img/gallery/gallery-bg.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  height: 80%;
  display: inline-block;
}

.gallery_img {
  width: 100%!important;
  height: 100%!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}
/**----------GALLERY END---------**/

/**--------OUR EVENTS------------**/
#our_events {
    background-color: white;
    height: 100%;
}
/**--------OUR EVENTS END--------**/
.group_about_align_style {
    margin: 0.1em;
    color: black;
    font-size: 2em;
}

#pointer {
  cursor: pointer;
}

.nav_estilo {
    background-color: rgba(210,210,210, 0.88);
}

.la {
  background-color: black;
}

.item_style {
    /*font-family: ;*/
    color: black;
    margin-right: 2em !important;
}
.logo_style {
    width: 2em;
    height: 2em;
    margin-top: -0.5em;
}

hr{
    margin: 0 auto;
    border: 0;
    height: 3px!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#home {
    height: 100vh;
}

#home {
    background-color: black;
    background: url(img/people/hero2.jpeg);
    background-size: cover;
}

/**landing page electronics**/
#home_electronics {
    /*height: 100vh;
    background: url(img/gallery/hero1.jpeg) no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    height: 100vh;
    background-color: black;
    background: url(img/people/hero2.jpeg);
    background-size: cover;
}

.home_electronics_style {
  top: 30vh;
}

/**----------MARKETING-----------**/
#marketing {
  background-color: #041B1B;
}

/**----------MOTOR-----------**/
#motor {
  background-color: #041B1B;
}

/**------card title style-----**/
.card_title {
  color: black;
}


/**---------------our events------------------*/

.next_competition {
  font-weight: bold;
  font-size: 2em;
}


.title_groups_style {
    margin: 0.5em;
    color: black;
    font-size: 2em;
    font-weight: bold;
    color: white!important;
    font-family: 'Righteous', cursive;
}

.trailer_style {
    position: relative;
    margin: auto;
    background-color: white;
    margin: 0;
    width:auto;
    height: auto;
    display: inline-block;
}

.trailer_style img {
    vertical-align: top;
    max-width: inherit;
    max-height: inherit;
}

.contained {
    vertical-align: top;
    max-width: inherit;
    max-height: inherit;
}
/*-------------- footer ------------------*/

.social_net_style_down {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}

.socials{
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials li {
  display: inline-block;
  list-style: outside none none;
  float: left;
  overflow: hidden;
  width: 50%; /* Proporcion para cada red social */
  font-size: 13px;
}

.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
}

.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
}

.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}

.facebook{
  background: #969696;
  /*padding: 20px 0;*/
}
.facebook a:after{
  background-color: #527bbb;
}
.instagram{
  background: #ABABAB;
}
.instagram a:after{
background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%); 
}

.twitter{
  background: #ABABAB;
}
.twitter a:after{
  background-color: #77ccf1;
}

.youtube{
  background: #d8d8d8;
}
.youtube a:after{
  background: #FF0000;
}

.footer-bottom{
  width: 100%;
  background: black;
  padding: 50px 0;
  color: white;
}

.footer_text {
  font-size: 20px;
}


/**animation of the title**/

@-webkit-keyframes title_color {
  0%   {color: #1DF900;}
  20%  {color: #15B200;}
  40%  {color: #44DAD2;}
  60%  {color: #FDFEFE;}
  80%  {color: #44DAD2;}
  100% {color: #15B200;}
}

@keyframes title_color {
  0%   {color: #1DF900;}
  20%  {color: #15B200;}
  40%  {color: #44DAD2;}
  60%  {color: #FDFEFE;}
  80%  {color: #44DAD2;}
  100% {color: #15B200;}
}

@-webkit-keyframes title_mov {
  0% {top: 0em;
    /*top: 50vw;*/}
  100% {top: 1.5em;}
}

@keyframes title_mov {
  0% {top: 0em;
    /*top: 50vw;*/}
  100% {top: 1.5em;}
}

@media only screen and (max-width: 1260px) {
    .contact_description_style {
      font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .sponsors_img {
      position:relative !important;
      width:70% !important; 
      height:70% !important;
    }
}

@media only screen and (max-width: 990px) {

    .barra_icon_i {
      margin-top: 10px!important;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      left: 10%!important;
    }

    .barra_icon_f {
      margin-top: 10px!important;
      height: 40px;
      width: 50px;
      margin-right: 5px;
      left: 10%!important;
    }

    .subtitle_style {
      font-size: 1.5em;
    }
    .description_style {
      font-size: 1.5em;
    }

    .title_main_style {
      font-size: 5.5em;
    }

    .group_style {
      font-size: 1.6em;
    }

    .contact_description_style {
      font-size: 1.5em;
    }
    .contact_style_text {
      font-size: 1.5em;
    }
    .item_style {
      margin-right: 0.1em;
    }
}

@media only screen and (max-width: 788px) {
  .item_style {
      margin-right: 0.01em;
  }

  .contact_style_text {
      font-size: 1.3em;
    }
  .title_main_style {
    top: 20vh;
  }

  #home {
    height: 50vh;
  }
}

@media only screen and (max-width: 700px) {
    .title_main_style {
      font-size: 5em;
    }
    .title_style {
      font-size: 2.5em;
    }
    .subtitle_style {
      font-size: 1.5em;
    }

    .group_style {
      font-size: 1.5em;
      text-align: right;
    }

    .description_style {
      font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .contact_style_text {
      margin-left: 10%;
    }

    .group_style {
      font-size: 1.5em;
      text-align: center;
    }

    .no_selection {
      color: white;
    }

    #gallery {
      height: 40%;
    }

    .gallery_button {
      width: 200px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      border-radius: 30px;
    }

    .gallery_button:before {
      border-radius: 30px;
    }
}

/**responsive**/
@media only screen and (max-width: 480px) {
    .contact_description_style {
      font-size: 1em;
    }
    .contact_style_text {
      font-size: 1.2em;
    }

    .title_main_style {
      font-size: 2.2em;
    }

    .footer_text {
      font-size: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .title_style {
        font-size: 1.5em;
    }
    .group_style {
        font-size: 1em;
    }
    .contact_description_style {
      font-size: .8em;
    }
    .contact_style_text {
      font-size: 0.5em;
    }
    .next_competition {
      font-size: 1em;
    }

    #gallery {
      height: 30%;
    }

    .gallery_button {
      width: 110px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      font-size: 10px;
      border-radius: 20px;
    }

    .gallery_button:before {
      border-radius: 20px;
    }
}


@media all and (orientation:landscape) {
  
}