html{
	height: 100%;
    /*background-image: url(img/logo/logo-big.png);*/
}
body {
    /*margin: 0em auto;*/
    height: 100%;
}
.about_us_style {
    background-color:  #f5f5f5;
    height: 100%;
}

.about_us_style_description {
    background-color: #f5f5f5;/*#dddddd*/

}

.contact_style {
    background-color: white;
    height: 50em;
}

.contact_logo {
    height: 70%;
    width: 70%;
}

.contact_description_style {
    margin: 0.5em;
    vertical-align: middle;
    align-items: left;
    font-family: Arial;
    font-size: 3em;
}

.contact_description_style_f {
  height: 50%;
  width: 50%;
}

.div_rounded {
    -webkit-border-radius: 6em;  /* Safari  */
    -moz-border-radius: 6em;     /* Firefox */
}

.sponsors_style {
    background-color: white;
    height: 50em;
}

.gallery_style {
    background-color:  #f5f5f5;
    height: 50em;
}

.group_style {
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-top: 0.25em;
}

.group_about_style {
    background-color: rgba(255,255,255, 0.8);/**0,181,55*/
    margin-top: 1em;
    height: 100%;
    align-items: center;
}

.group_about_style:hover {
    background-color: rgba(0,181,55, 1);
}

.group_about_align_style {
    margin: 0.1em;
    color: black;
    font-size: 2em;

}

#pointer {
  cursor: pointer;
}

.nav_estilo {
    background-color: rgba(210,210,210, 0.88);
}

.item_style {
    /*font-family: ;*/
    color: black;
    margin-right: 2em;
}
.logo_style {
    width: 2em;
    height: 2em;
    margin-top: -0.5em;
}

#home {
    height: 100%;
}

#home {
    background: url(img/people/hero2.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home_style {
    vertical-align: middle;
    text-align: center;
}

.our_events_style {
    background-color: white;
    height: 50em;
}

.title_main_style {
    font-size: 10em;
    font-family: Impact;
    font-weight: bold;
    color: white;
}

.title_style {
    font-size: 5em;
    font-family: Arial;
    font-weight: bold;
}

.title_groups_style {
    margin: 0.5em;
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.subtitle_style {
     font-size: 4em;
    font-family: Arial;
    font-weight: bold;
}

.image-cropper { 
    width: 100%; 
    height: 100%;
    margin-top: 0.25em; 
    margin-bottom: 0.5em;
    position: relative; 
    overflow: hidden; 
    border-radius: 50%; 
} 

img { 
    display: inline; 
    margin: 0 auto; 
    margin-top: 0.25em;
    height: 100%; 
    width: auto; 
} 


/*-------------- footer ------------------*/
.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}

.socials{
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials li {
  display: inline-block;
  list-style: outside none none;
  float: left;
  overflow: hidden;
  width: 50%; /* Proporcion para cada red social */
  font-size: 13px;
}

.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
}

.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
}

.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}

.facebook{
  background: #969696;
  /*padding: 20px 0;*/
}
.facebook a:after{
  background-color: #527bbb;
}
.instagram{
  background: #ABABAB;
}
.instagram a:after{
background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%); 
}

.twitter{
  background: #ABABAB;
}
.twitter a:after{
  background-color: #77ccf1;
}

.youtube{
  background: #d8d8d8;
}
.youtube a:after{
  background: #FF0000;
}

.footer-bottom{
  width: 100%;
  background: #2f2f2f;
  padding: 80px 0;
  color: #636363;
}

/**---------------our events------------------*/
.our_events_style {
  
}

