html{
	height: 100%;
    /*background-image: url(img/logo/logo-big.png);*/
    /**font-family: 'Roboto', sans-serif;*/
}
body {
    /*margin: 0em auto;*/
    height: 100%;
    /**no se admite seleccionar para copiar*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    font-family: 'Roboto', sans-serif;
}
/**---------------GENERAL STYLE-------------**/
img { 
    display: inline; 
    margin: 0 auto; 
    margin-top: 0.25em;
    height: 100%; 
    width: auto; 
} 
.barra {
  background-color: black;
  position: fixed;
}

.barra_icon {
  margin-top: -2px!important;
  height: 40px!important;
  width: 40px!important;
  margin-right: 10px!important;
}

.dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
  background: #0E6103!important;
}

.dropdown-menu{
  background-color: black!important; 
}

.header_color {
  background-color: rgba(255,255,255, 0)!important;
  position: fixed;
}

#navbarf {
  position: fixed;
  width: 100vw;
}

.navbar-toggler-icon {
  color: white!important;
}

.nav-link {
  color: white!important;
  font-size: 18px;
  font-family: wattmobile_1;
  margin: 0;
  font-weight: bold;
}

.nav-link:hover {
  color: #0E6103!important;
}

.description_style {
  margin-left: 1.5em !important;
  font-size: 2em;
  font-weight: bold;
}

.title_style {
    font-size: 4em;
    font-family: 'Roboto', regular;
    font-weight: bold;
    margin:0.5em;
}

.subtitle_style {
    font-size: 3em;
    /*font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto', regular;
    font-weight: bold;
}

.div_rounded {
    -webkit-border-radius: 5em;  /* Safari  */
    -moz-border-radius: 5em;     /* Firefox */
}

.image-cropper { 
    width: 100%; 
    height: 100%;
    margin-top: 0.25em; 
    margin-bottom: 0.5em;
    position: relative; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.image_dimensions {
  width: 3em;
  height: 3em;
}

/**-------------GENERAL STYLE END----------**/

/**---------------callout--------------------**/
.callout {
  font-family: 'Righteous', cursive;
  position: fixed;
  bottom: 35px;
  right: 40px;
  margin-left: 20px;
  max-width: 350px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #0E6103;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: white;
  color: black
  font-weight: bold;
  align-content: justify;
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}

/**-------------------scroll bar--------------**/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-moz-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-moz-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-moz-scrollbar-thumb:hover {
  background: #555; 
}

/**--------------Scroll bar end--------------**/

/**-----------HEADER-------------**/
.social_net_style {
  width: 2.8em;
  height: 2.8em;
  margin-right: 1em;
}
/**---------HEADER END-------**/

/**------------HOME----------------**/
@font-face {
  font-family: wattmobile_1;
  src:url("fonts/wattmobile_1.ttf");
}

.wattmobile_font {
  font-family: wattmobile_1;
}

.title_main_style {
    position: relative;
    overflow: hidden;
    font-size: 10em;
    /*font-weight: bold;*/
    color: white;
    text-align: center;
    /*font-family: 'Righteous', cursive;*/
    /**animation**/
    font-family: wattmobile_1;
    font-weight: bold;

    -webkit-animation-name: title_color; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    animation-name: title_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /**top: 15vh; navidad**/
   top: 30vh; /*original*/
}
/**-----------HOME END-------------**/

/**-----------TRAILER-------------**/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**---------TRAILER END-----------**/

/**---------ABOUT US--------------**/
#about {
  background-color:  #f5f5f5;
}

.group_about_style {
    background-color: rgba(255,255,255, 0.8);/**0,181,55*/
    margin-top: 0.7em;
    width:auto;
    height: 100%;
    align-items: center;
}

.group_about_style:hover {
    background-color: rgba(0,181,55, 1);
}
  
.group_style {
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 0.25em;
}

.about_us_style_description {
    background-color: #f5f5f5;/*#dddddd*/
}
/**---------ABOUT US END----------**/

/**---------CONTACT----------**/
#contact {
    background-color: white;
    width:auto;
    height: auto;
    display: inline-block;
    margin: 0; 
}

.contact_style_text {
  font-size: 2em;
}

.contact_logo {
    display: block;
    height: 90%;
    width: 80%;
}

.contact_description_style {
    margin: 0.5em;
    vertical-align: middle;
    align-items: left;
    font-size: 3em;
}
/**---------CONTACT END----------**/

/**---------SPONSORS-------------**/
#sponsors{
    align-content: center;
    vertical-align: middle; 
    height: 100%;
    /*position: relative;*/
    margin:0;
    /*background: url(img/sponsors/testimonial-bg.jpg)no-repeat center center fixed;*/
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:auto;
    height: auto;
}

.spsimg_upv {
  position:relative !important;
  /**z-index:1;**/ 
  width:60% !important; 
  height:80% !important;
}

.spsimg_ge {
  position:relative !important;
  width:20% !important; 
  height:20% !important;
}

.spsimg_ETSID {
  position:relative !important;
  width:60% !important; 
  height:60% !important;
}

/**---------SPONSORS END---------**/

/**----------GALLERY-------------**/
#gallery {
  background: #f5f5f5;/*#2f2f2f*/
  width:100%;
  height: auto;
  display: inline-block;
}

.gallery_img {
  width: 100%!important;
  height: 100%!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**----------GALLERY END---------**/

/**--------OUR EVENTS------------**/
#our_events {
    background-color: white;
    height: 100%;
}
/**--------OUR EVENTS END--------**/
.group_about_align_style {
    margin: 0.1em;
    color: black;
    font-size: 2em;
}

#pointer {
  cursor: pointer;
}

.nav_estilo {
    background-color: rgba(210,210,210, 0.88);
}

.la {
  background-color: black;
}

.item_style {
    /*font-family: ;*/
    color: black;
    margin-right: 2em !important;
}
.logo_style {
    width: 2em;
    height: 2em;
    margin-top: -0.5em;
}

hr{
    margin: 0 auto;
    border: 0;
    height: 3px!important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#home {
    height: 100vh;
}

#home {
    background-color: black;
    background: url(img/people/hero2.jpeg);
    background-size: cover;
}

/**landing page electronics**/
#home_electronics {
    height: 100vh;
    background: url(img/gallery/hero1.jpeg) no-repeat center center fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home_electronics_style {
  top: 30vh;
}


/**---------------our events------------------*/

.next_competition {
  font-weight: bold;
  font-size: 2em;
}


.title_groups_style {
    margin: 0.5em;
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.trailer_style {
    position: relative;
    margin: auto;
    background-color: white;
    margin: 0;
    width:auto;
    height: auto;
    display: inline-block;
}

.trailer_style img {
    vertical-align: top;
    max-width: inherit;
    max-height: inherit;
}

.contained {
    vertical-align: top;
    max-width: inherit;
    max-height: inherit;
}
/*-------------- footer ------------------*/

.social_net_style_down {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}

.socials{
  width: 100%;
  margin: 0;
  padding: 0;
}

.socials * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials li {
  display: inline-block;
  list-style: outside none none;
  float: left;
  overflow: hidden;
  width: 50%; /* Proporcion para cada red social */
  font-size: 13px;
}

.socials a {
  padding: 0.3em 0.8em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.socials a:before,
.socials a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.socials a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
}

.socials a:after {
  padding: 0.3em 0.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
}

.socials li:hover a,
.socials .current a {
  transform: translateY(100%);
}

.facebook{
  background: #969696;
  /*padding: 20px 0;*/
}
.facebook a:after{
  background-color: #527bbb;
}
.instagram{
  background: #ABABAB;
}
.instagram a:after{
background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%); 
}

.twitter{
  background: #ABABAB;
}
.twitter a:after{
  background-color: #77ccf1;
}

.youtube{
  background: #d8d8d8;
}
.youtube a:after{
  background: #FF0000;
}

.footer-bottom{
  width: 100%;
  background: #2f2f2f;
  padding: 50px 0;
  color: #636363;
}

.footer_text {
  font-size: 20px;
}


/**animation of the title**/

@-webkit-keyframes title_color {
  0%   {color: #1DF900;}
  20%  {color: #15B200;}
  40%  {color: #0E6103;}
  60%  {color: #FDFEFE;}
  80%  {color: #0E6103;}
  100% {color: #15B200;}
}

@keyframes title_color {
  0%   {color: #1DF900;}
  20%  {color: #15B200;}
  40%  {color: #0E6103;}
  60%  {color: #FDFEFE;}
  80%  {color: #0E6103;}
  100% {color: #15B200;}
}

@-webkit-keyframes title_mov {
  0% {top: 0em;
    /*top: 50vw;*/}
  100% {top: 1.5em;}
}

@keyframes title_mov {
  0% {top: 0em;
    /*top: 50vw;*/}
  100% {top: 1.5em;}
}

@media only screen and (max-width: 1260px) {
    .contact_description_style {
      font-size: 2em;
    }
}

@media only screen and (max-width: 990px) {

    .barra_icon {
      margin-top: 10px!important;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      left: 10%!important;
    }

    .subtitle_style {
      font-size: 1.5em;
    }
    .description_style {
      font-size: 1.5em;
    }

    .title_main_style {
      font-size: 5.5em;
    }

    .group_style {
      font-size: 1.6em;
    }

    .contact_description_style {
      font-size: 1.5em;
    }
    .contact_style_text {
      font-size: 1.5em;
    }
    .item_style {
      margin-right: 0.1em;
    }
}

@media only screen and (max-width: 788px) {
  .item_style {
      margin-right: 0.01em;
  }

  .contact_style_text {
      font-size: 1.3em;
    }
  .title_main_style {
    top: 20vh;
  }

  #home {
    height: 50vh;
  }
}

@media only screen and (max-width: 700px) {
    .title_main_style {
      font-size: 5em;
    }
    .title_style {
      font-size: 2.5em;
    }
    .subtitle_style {
      font-size: 1.5em;
    }

    .group_style {
      font-size: 1.5em;
      text-align: right;
    }

    .description_style {
      font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .contact_style_text {
      margin-left: 10%;
    }

    .group_style {
      font-size: 1.5em;
      text-align: center;
    }
}

/**responsive**/
@media only screen and (max-width: 480px) {
    .contact_description_style {
      font-size: 1em;
    }
    .contact_style_text {
      font-size: 1.2em;
    }

    .title_main_style {
      font-size: 2.2em;
    }

    .footer_text {
      font-size: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .title_style {
        font-size: 1.5em;
    }
    .group_style {
        font-size: 1em;
    }
    .contact_description_style {
      font-size: .8em;
    }
    .contact_style_text {
      font-size: 0.5em;
    }
    .next_competition {
      font-size: 1em;
    }
}

@media all and (orientation:landscape) {
  
}